<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>



<h1>Boy, look at all these dope products!</h1>
<%= link_to "Add a product", "/products/new" %>


<!-- renders a helpful message with numbers of displayed vs total entries -->

<h1> Products <small><%= page_entries_info @products %></small></h1>

<!-- horizontal rule -->
<hr />


<div id="products">
	<%= render @products %>
</div>
<!-- makes pagination links en the standard way -->

<%= paginate @products %>